h1 {
    text-align: center;
}
  
table {
      border:1px solid #758d97;
      border-collapse: collapse;
  }
  
table tr {
    border-left: 1px solid #758d97;
    border-right: 1px solid #758d97;
      border-bottom: 1pt solid #758d97;
      padding: 1em;
}
  
table th {
      padding: 1em;
}
  
table td {
    border-left: 1px solid #758d97;
    border-right: 1px solid #758d97;
        padding: 1em;
}
  
hr.thick-or {
    border: 2px solid #cb410b;
}
  
hr.thin-white {
    border: 1px solid white;
}
